body{
    background-color:#2C90CE;
    margin-top: 100px;
    display: flex;
    text-align: center;
    margin-left: 100px;
}
.lienhe{
    color: azure;
    text-align: right;
    margin-left: 50px;
    
}
.up{
    display: flex;
    justify-content: space-between; 
    
}
h1{
    border-bottom: 4px solid azure; /* Đường kẻ chân với độ dày lớn */
    border-radius: 4px; /* Bo tròn các góc của đường kẻ chân */
    padding-bottom: 2px;
    
}
p{
    margin-top: -10px;
    text-align: left;
}
h3{
    text-align: left;
}
.under{
    display: flex;
    align-items: center;
    
}
