body {
  
    margin: 0;
    padding: 0;
    /* background-color: #2C90CE; */
}

header {
    background-color: #fff;
   
    text-align: center;
   
}

.header {
    display: flex;
    
}
.imglogo{
    
    height: 188px;
}

.logo {
    display: inline-block;
    /* margin-right: 1000px;3 */
}

.logo img {
    width: 100px;
}
a {
    text-decoration: none;
    color: #be1919;
}
.nav-links a {
    margin: 80px;
    font-family: 'Inter';
}
.nav-links {
   
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;

}
.imglab{
    width: 519px;
    height: 495px;

}
.lienhe {
    
    margin: 60px;
    width: 193px;
    height: 75px;
    
  
}



.hero {
    
    background-image: url('fs06wu0q 1.svg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    
    
   
  
}
.hero-{
    margin-left: 100px;
    margin-right: 50px;
}
.hero-content {
   display: flex;
    padding: 30px;
    border-radius: 5px;
    justify-content: space-around;
    margin-left: 100px;
   
    
}

.hero-title {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;

    text-align: left;
    
}

.hero-description {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #fff;
    text-align: left;
    margin-right: 300px;
}

.button {
    background-color: #AB2D2E;
    color: #fff;
    padding: 14px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter';
}
.button1{
    
    margin-right: 300px;
    padding: 14px;
}

.button2{
    background-color: #206C9B;
    color: #fff;
    padding: 14px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter';
}


.partners {
    background-color: #fff;
    padding: 50px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.partner-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.partner-logo {
    margin: 10px;
}

.partner-logo img {
    width: 150px;
}
