
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }
        .container {
            display: flex;
            width: 100vw;
            height: 100vh;
            background-color: #AB2D2E;
            
        }
        .left-side {
            width: 50%;
            padding: 50px;
            color: #ffffff;
            margin-top: 150px;
            margin-left: 100px;
            
        }
        .left-side h1 {
            font-size: 50px;
            margin-bottom: 20px;
        }
        .left-side p {
            font-size: 18px;
        }
        .left-side ul {
            list-style: none;
            padding: 0;
            
        }
        .check{
          display: flex;
          
        }
        
        .checkb{
            margin-left: 30px;
            padding-left: 50px;
            justify-content: start;
        }
        .left-side li {
            display: flex;
            
            margin-bottom: 10px;
        }
        .left-side li input {
            margin-right: 10px;
        }
        .right-side {
            width: 50%;
            position: relative;
          
            border-radius: 100px 0 0 100px;
            overflow: hidden;
            padding-bottom: 50px;
        }
        .right-side img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
        }
        
    