h1{
    text-align: center;
    color: #2D8FCC;
    font-family: Arial, sans-serif;
}
.under{
    display: flex;
    justify-content: space-around;
    font-family: Arial, sans-serif;
    margin: 0 70px;
    margin-top: 50px;

}
body{
    background-color: white;
}
